@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #9fb1f2;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: "Poppins", sans-serif !important;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #8eb3f3;
  transition: 0.3s;
  text-decoration: none;
}
nav .logo a:hover {
  color: var(--primary-color);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: #8eb3f3;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
  margin-bottom: 0px !important;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: #1f2937;
  transition: 0.3s;
}
content
ul li a:hover {
  border-top-color: rgb(241, 99, 114);
  border-bottom-color:rgb(241, 99, 114);
  color:#ca8a04;
}

.section {
  background-color: rgb(244, 240, 252);
}
.social{
  position: relative;
}
.footer{ 
  margin: 20px;
}
.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: #6b7280;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
  text-align: center;
}
.title2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
}
.title3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #1f2937;
  margin-bottom: 1rem;
}
.description4 {
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-align:left;
}
.description5 {
  font-size: 15px;
  font-weight: 400;
  color: black;
  text-align:left;
}
.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: #6b7280;
  margin-bottom: 2rem;
  text-align: center;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 40px;
  outline: none;
  border: 2px solid blue;
  border-radius: 10px;

}
.btn-my{ 
  background-color: #9fb1f2;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 22px 30px;
  border-radius: 500px;
  transition: all 0.3s;
  margin: center;
  text-decoration: none;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 56px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


.fa:hover {
  opacity: 0.7;
  transform: scale(1);
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.btn:hover{
  transform: scale(1.15);
}

.contacet_Me {
  background-color: #8eb3f3;
  color: #ffffff;
}

.contacet_Me:hover {
  background-color: var(--primary-color);
}


.img-max-height {
  max-height: 380px;
}



.image1 {
  display: grid;
  place-items: center;
}

.image1 img {
  width: 400px;
  border-radius: 10%;

}


.set-img-user {
  height: 282px;
  width: 282px;
  border-radius: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.set-img-user img {
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width : 768px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: #faf5ff;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    z-index: 100000;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 2rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    
  }

  .subtitle {
    text-align: center;
  }
  
  .title {
    padding: 1px 1px 1px 1px;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .title2 {
    font-size: 2.5rem;
    
  }
  .title3 {
    font-size: 2.5rem;
    
  }
  .description4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
    
  .description5 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    
  }
  .set-img-user {
    margin: 0 auto;
  }

}

@media only screen and (max-width: 480px) {
  .set-img-user {
    height: 222px;
    width: 222px;
  }
  .image1 img {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}




